$black: #000000;
$soft-black: rgba(0, 0, 0, 0.70);
$soft-black-text: rgba(0, 0, 0, 0.64);
$grey-dark-text: rgba(0,0,0,0.45);
$grey-text: rgba(0,0,0,0.30);
$grey: rgba(0,0,0,0.16);

$white: #ffffff;
$soft-white: #fcfcfc;
$bg-white: #ececec;

$red: #F44336;
$red-pale: #EF5350;

$orange: #FFC107;
$orange-pale: #FFD54F;
$orange-intense: #EF6C00;

$yellow: #FFEB3B;


$real-blue: #3F51B5;
$real-blue-pale: #5C6BC0;
$aqua-blue: #00BCD4;


$green: #8BC34A;
$green-pale: #9CCC65;