$main-font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto', sans-serif;


@mixin main-font($size, $color) {
  font-family: $main-font-family;
  font-size: $size;
  color: $color;
  font-weight: 400;
}

@mixin title-font($size, $color) {
  font-family: $title-font-family;
  font-size: $size;
  color: $color;
  font-weight: 500;
}