body {
  background-color: $bg-white;
  background-image: url("/img/body-bg.jpg");
  background-size: cover;
	background-attachment: fixed;
}


a {
	text-decoration: none;
	border: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main-container {
	padding: 0;
  margin: 0 auto;
  display: block;
  max-width: 1200px;
  position: relative;
	
	@media (min-width: 768px) {
		padding: 0 5%;
		padding: 0 5vw;
	}
}
input.active-page-radio {
	display: none;
}

.main-section {
  @include main-font(16px, $soft-black-text);
  display: none;
  &:after {
    content:"";
    display: block;
    clear: both;
  }
}
input.active-page-radio:checked+.main-section {
	display: block;
}

.back-button {
	.material-icons {
		font-size: 24px;
		color: $soft-black-text;
	
		@media (min-height: 800px) {
			font-size: 36px;
		}
	}
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	padding: 8px;
	cursor: pointer;
	@include transition-short(opacity);
	width: 100%;
	box-sizing: border-box;
	background-color: $soft-white;
	@include elevation(2);
	
	@media (min-height: 800px) {
		padding: 12px;
	}
}
#StartSectionCheck:checked ~ .back-button {
	opacity: 0;
	cursor: default;
}

// ~

/*
#StartSection {
  background-color: red;
}
#PhotosSection {
  background-color: green;
}
#DownloadsSection {
  background-color: yellow;
}
#NewsSection {
  background-color: purple;
}
*/