@media (max-width: 767px) {
	
	#StartSection .material-icons {
		margin-right: 20px;
		font-size: 36px;
		vertical-align: middle;
		margin-top: -3px;
	}
	
	#WelcomeTile {
		@include make-tile(100%, 250px, null, false) {
			background-image: url("/img/LogoLaMode25Aniv_Web.png");
			background-color: transparent;
			@include elevation(0);
			border: 0px solid $soft-white;
			background-position: center;
			background-size: auto 200px;
			background-repeat: no-repeat;
			overflow: visible;
		}
		margin: -20px 0 -50px 0;
		overflow: visible;
    text-transform: uppercase;
	}
	
	#CalendarTile {
		@include simple-tile($yellow);
    text-transform: uppercase;
	}
	
	#NewsTile {
		@include simple-tile($red-pale);
		article { display: none; }
		h5 { display: none;	}
		p {	display: none; }
    text-transform: uppercase;
	}
	
	#PhotosTile {
		@include simple-tile($real-blue-pale);
    text-transform: uppercase;
	}
	#DownloadsTile {
		@include simple-tile($green-pale);
    text-transform: uppercase;
	}
	#WhereTile {
		@include simple-tile($aqua-blue);
    text-transform: uppercase;
	}
	#OtherTile {
		@include simple-tile($orange-pale);
    text-transform: uppercase;
	}
}


@media (min-width: 768px) {
	#StartSection {
  	padding-top: 5%;
  	padding-top: 5vh;
    text-transform: uppercase;
	}
	
	#StartSection .material-icons {
		display: none;
	}
	#WelcomeTile {
		@include make-tile(70%, 400px, 45vh, false) {
			background-image: url("/img/LogoLaMode25Aniv_Web.png");
			background-color: transparent;
			@include box-shadow(0 0 0 0 rgba(0,0,0,0));
			text-align: right;
			border: 0px solid $soft-white;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		float: left;
	}
	#CalendarTile {
		@include make-tile(30%, 400px, 45vh, true) {
			background-image: url("/img/tile-bg-calendar.jpg");
			background-position: bottom;
			text-align: right;
			border: 20px solid  $yellow;
			.tile-title {
				position: absolute;
				top: auto;
				bottom: 0;
				right: 0;
				margin: 5px;
				color: $soft-black;
				font-size: 30px;
			}
		}
	}
	.start-section-tile-column {
		width: 40%;
		float: left;
	}
	
	#PhotosTile {
		@include make-tile(100%, 200px, 22vh, true) {
			background-image: url("/img/tile-bg-photos.jpg");
			text-align: right;
			border: 20px solid $real-blue;
		}
	}
	#DownloadsTile {
		@include make-tile(100%, 200px, 22vh, true) {
			background-image: url("/img/tile-bg-downloads.jpg");
			text-align: right;
			border: 20px solid #8BC34A;
		}
	}
	#NewsTile {
		@include make-tile(60%, 250px, 32vh, true) {
			background-image: url("/img/tile-bg-news.jpg");
			text-align: right;
			border: 20px solid #F44336;
			padding: 10px;
			.tile-title {
				color: $soft-black;
			}
			article {
				padding: 10px;
				background-color: rgba(240, 240, 240, 0.7);
				margin: 20px -10px 0 -10px;
			}
			h5 {
				display: block;
				padding: 10px;
				text-transform: none;
				text-align: left;
				@include title-font(25px, $soft-black);
			}
			p {
				display: block;
				padding: 10px;
				text-transform: none;
				text-align: justify;
				@include main-font(16px, $soft-black);
			}
		}
		float: right;
	}
	#WhereTile {
		@include make-tile(30%, 150px, 12vh, true) {
			background-image: url("/img/tile-bg-where.jpg");
			text-align: right;
			border: 20px solid #00BCD4;
			padding: 10px;
			.tile-title {
				color: $soft-black;
				font-size: 25px;
			}
		}
	}
	#OtherTile {
		@include make-tile(30%, 150px, 12vh, true) {
			background-image: url("/img/tile-bg-who.jpg");
			text-align: right;
			border: 20px solid #FFC107;
			padding: 10px;
			.tile-title {
				color: $soft-black;
				font-size: 25px;
			}
		}
		float: right;
	}
	
}