@mixin make-tile($width, $height, $vhHeight: null, $clickeable: false) {
  display: inline-block;
  box-sizing: border-box;
  width: $width;
  max-width: $width;
  height: $height;
  max-height: $height;
  padding: 5px;
  @if $vhHeight != null {
    height: $vhHeight;
    max-height: $vhHeight;
  }
  @include not-selectable;
    
  .tile-content {
    display: block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid $white;
    overflow: hidden;
    
    @include elevation(1);
    @include transition-short(all)
    
    background-color: $soft-white;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 5px;
    
    @if $clickeable == true {
      &:hover{
        @include clickeable;
    		@include elevation(2);
        opacity: 0.9;
        background-position: center;
      }
    }
    
    
    .tile-title {
      @include title-font(40px, $white);
      text-shadow: 1px 1px 0px rgba(0,0,0,0.0);
    }
    
    @content;
  }
}
	
@mixin simple-tile($bg-color, $height: 63px) {
	@include make-tile(100%, $height, null, true) {
		background-color: $bg-color;
		border: none;
		padding: 12px;

		.tile-title {
			color: $soft-black;
			font-size: 25px;
		}
    
    @content;
	}
}