@import 'reset';
// Common
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'tiles';

// Page specific
@import 'global';
@import 'start-section';
@import 'calendar-section';
@import 'downloads-section';
@import 'news-section';
@import 'where-section';

html, body {
	font-size: 0;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

